body {
  /* background-image: url("/images/AsawaRug2.png"); */
  background-color:#BCD1D8;
  background-size: cover;
  font-family: Arial, sans-serif;
  margin: 0px;
}

div {
  max-width: 700px;
  /* background-color:#E3B1A1; */
  text-align: justify;
  text-justify: inter-word;
  padding:25px;
  margin: 0px;
}

.center {
  margin: auto;
}

.bluetext {
  color: #466E7C;
}

a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: #466E7C;
}

/* selected link */
a:active {
  color: black;
}

/* for columns: */
* {
  box-sizing: border-box;
}
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
