body {
  /* background-image: url("/images/AsawaRug2.png"); */
  background-color:#D3DCD4;
  background-size: cover;
  font-family: Arial, sans-serif;
  margin: 0px;
}

div {
  max-width: 700px;
  /* background-color:#E3B1A1; */
  text-align: justify;
  text-justify: inter-word;
  padding: 0px;
  margin: 25px;
}

.center {
  margin: auto;
}

.bluetext {
  color: #4B664E;
}

a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: #4B664E;
}

/* selected link */
a:active {
  color: black;
}

/* for columns: */
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.3%;
  padding-right: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
