body {
  background-image: url("/images/snowcaps.jpeg");
  background-size: cover;
}

div {
  max-width: 620px;
  background-color:#E3B1A1;
  text-align: justify;
  text-justify: inter-word;
  padding:20px;
}

.center {
  margin: auto;
}

a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: #6B493D;
}

/* selected link */
a:active {
  color: black;
}
