body {
  background-color: #95A879;
}

div {
  background-color:#fff;
  text-align: justify;
  text-justify: inter-word;
  padding:10px;
  margin-right: 600px;
  margin-left: 200px;
}

.center {
  margin: auto;
}
