body {
  background-color: #D9DAF2;
  background-image: url("snowcaps.jpeg");
}

div {
  max-width: 620px;
  background-color:#D9DAF2;
  text-align: justify;
  text-justify: inter-word;
  padding:20px;
}

.center {
  margin: auto;
}

a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: #95A879;
}

/* selected link */
a:active {
  color: black;
}
